.home {
    text-align: center;
}
.home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.home .game-link {
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(60, 66, 78);
    padding: 2px 8px 2px 8px;
}
.home .game-link:hover {
    background-color: rgb(80, 88, 104);
}  