#hello>h2 {
    text-align: center;
    color: white;
}
#hello>label {
    color: white;
}
#hello>input {
    outline: 0;
    border-radius: 5px;
    padding: 5px;
}
#hello>div.home {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 3px;
    background-color: rgb(60, 66, 78);
    padding: 2px 8px 2px 8px;
}
#hello>div.home:hover {
    background-color: rgb(80, 88, 104);
}
#hello>div.home>a {
    text-decoration: none;
    color: white;
}